@import "tailwindcss/tailwind.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body{
    font-family: "Montserrat", sans-serif;
}

.bg-1{
    background: url("src/assets/Subscription-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-blue{
    background-color: #1152FD;
}

.text-blue{
    color: #1152FD;
}
  
.radio-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .radio-button input:checked + .circle {
    background: white;
    color: #1152FD;
  }
  
  .radio-button input:checked ~ .label {
    color: white;
  }
  
  .radio-button input:checked ~ .radio-button {
    background: #1152FD;
  }
  
  .radio-button.checked {
    background-color: #1152FD;
    color: white;
  }
  
  .circle {
    background: #1152FD;
    color: white;
    font-weight: bold;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  